*{
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}
body{
    background-color: #565264;
}
h2{
    color: #fff;
}
.title{
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #53DAE3;
}
header{
    background-color: #706677;
}
.header-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
header img{
    width: 150px;
    height: 100px;
    padding: 20px;
}
.header-text{
    display: flex;
    flex-direction: column;
}
.header-text h1{
    margin: 10px 5px;
    padding: 15px 15px 5px 5px;
    text-align: left;
    font-size: 600;
    color: #53DAE3;
}
.header-text p{
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    color: #fff;
}
.navbar{
    background-color: #887893;
    padding: 15px;
}
.navbar-container{
    display: flex;
    justify-content: flex-end;
}
.navbar-container ul{
    display: flex;
}
.navbar-container li{
    list-style: none;
    padding: 5px 20px;
}
.navbar-container li a{
    text-decoration: none;
    color: #53DAE3;
}
.about-me{
    margin: 20px;
    background-color: #887893;
}
.about-me-container{
    display: flex;
    flex-direction: column;
}
.about-text{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.about-text h2, p{
    padding: 5px 10px;
}
.about-video{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}
.about-me-container h3{
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
.teman-saya{
    margin: 20px;
    padding: 10px;
    background-color: #887893;
}
.teman-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
table{
    text-align: center;
    border-collapse: collapse;
}
table thead{
    background-color: #706677;
}
table tbody{
    background-color: #979696;
}
.hubungi-saya{
    margin: 20px;
    background-color: #887893;
    padding: 10px;
}
.hubungi-saya form{
    margin: 10px;
    padding: 20px;
}
form h2{
    padding-bottom: 10px;
}
form .email-input{
    border-radius: 5px;
}
form .submit-button{
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #706677;
}
